* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;
    color: var(--color-tertiary);
    background-color: var(--color-tertiary);
}

.container {
    max-width: 135rem;
    margin: 0 auto;
    height: auto;
}

.main {
    display: flex;
    min-height: calc(100vh - 4rem);
}

.hidden {
    display: none;
}

// HEADINGS

h2 {
    font-weight: 700;
}

h1 {
    font-size: 3.6rem;
}

// DYNAMIC CLASSES

.hidden {
    display: none !important;
}

.checked {
    opacity: 0.5;
    * {
        text-decoration: line-through;
    }
}

.side-bar.slide {
    transform: translateX(-36rem);
    width: 0;
    min-width: 0;
    height: 0%;
    padding-left: 0;
    padding-right: 0;
    visibility: hidden;
}

// BUTTONS

button {
    cursor: pointer;
    border: none;
    background: none;
    font-weight: 500;
    font-family: inherit;
    color: inherit;
    font-size: 1.8rem;
}

.form-btn {
    display: flex;
    justify-content: center;
    gap: var(--medium-indent);
    margin: var(--medium-indent) 0;

    &__add, &__cancel, &__edit {
        color: var(--color-secondary);
        padding: var(--xsmall-indent) var(--small-indent);
        border-radius: var(--radius);
    }

    &__add, &__edit {
        color: var(--color-tertiary);
        background: var(--color-secondary);
    }
    
    &__cancel {
        color: var(--color-primary);
    }
}

.btn-open-form {
    padding: var(--xsmall-indent) var(--small-indent);
    transition: var(--transition);
    color: var(--color-secondary);

    &:hover {
        transform: translateX(10px);
    }
}

.edit {
    position: relative;

    &__open {
        transform: translateY(10%);

        svg {
            fill: var(--color-tertiary);
            height: 30px;
        }
    }

    &__options {
        position: absolute;
        top: -7.4rem;
        left: -7rem;
        z-index: 100;
        
        background-color: var(--color-primary);
        box-shadow: 0 0 5px var(--color-tertiary);
        color: var(--color-tertiary);

        display: flex;
        flex-direction: column;
        
        & > * {
            text-align: left;
            padding: var(--xsmall-indent);
            width: 100%;
            
            &:hover {
                background-color: var(--color-secondary);
            } 
        }
    }
}

// INPUtS

.input {
    width: 100% !important;
    margin-top: var(--xsmall-indent);
    padding: var(--xsmall-indent);
    background-color: var(--color-primary);
    
    font-family: inherit;
    color: inherit;

    border: 1px solid var(--color-tertiary);
    border-radius: var(--radius);
}

.input::placeholder {
    color: #e4dfdf6c;
}

.side-bar .input {
    font-size: 1.8rem;
    font-weight: 600;
    height: 3.5rem;
    
    padding: var(--xsmall-indent) var(--medium-indent);
}

textarea.input {
    resize: vertical;
    font-weight: 500;
}
